body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("Image/back.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 250vh;
}
.Items {
  display: block;
  text-decoration: none;
  /*font-size: 1.8rem;*/
  color: white;
  margin: 2rem 4rem;
  font-family: "Tangerine", serif;
  font-size: 50px;
  padding: 0 0 0 10%;
}
.Items:hover {
  color: rgb(80, 20, 0);
}
.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  background: rgb(158, 108, 108);
  cursor: pointer;
  border-radius: 20%;
}
/*.closeIcon {
  display: none;
}*/
.Nav {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgb(199, 180, 180);
  color: white;
  list-style-type: none;
  padding-top: 4rem;
}
.showMenu {
  transform: translateY(0);
}
a:hover {
  color: greenyellow;
}
a {
  color: rgb(216, 163, 163);
  font-size: 25px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
img {
  width: 200px;
  height: 300px;
  border-radius: 50%;
}
.firsttwoservices {
  color: honeydew;
}
.massage {
  box-shadow: 14px 14px 20px #445fb1, -14px -14px 20px rgb(163, 123, 123);
  padding: 10px 50px 30px 50px;
  margin: 20px;
}
.hair {
  box-shadow: 14px 14px 20px #445fb1, -14px -14px 20px rgb(163, 123, 123);
  padding: 10px 50px 30px 50px;
  margin: 20px;
}
.facials {
  box-shadow: 14px 14px 20px #445fb1, -14px -14px 20px rgb(163, 123, 123);
  padding: 10px 50px 30px 50px;
  margin: 20px;
}
.nails {
  box-shadow: 14px 14px 20px #445fb1, -14px -14px 20px rgb(163, 123, 123);
  padding: 10px 50px 30px 50px;
  margin: 20px;
}
#preloader {
  background: #000 url("../Image/images.gif") no-repeat center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
